@media(max-width: 1400px){ 
.top-1-left{
    flex-basis: 40%;
    padding-top: 40px;
    padding-left: 80px;
}
.top-1-right{
    flex-basis: 60%;
}
.logo{
    position: relative;
}
.top-1-right-2{
    margin-left: 40px;
}
}
@media(max-width: 1200px){
.top-1-left{
   flex-basis: 100%;
   padding-left: 0px;
}
.top-1-right{
    flex-basis: 100%;
    font-size: 20px;
}
.logoOutbox{
    width: 300px;
    margin: auto;    
}
.top-1-right-1{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: black;
}
.top-1-right-2{
    display: inline-block;
    margin-left: 0px;
    margin-top: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.top-1-navbox{
    width: 490px;
    margin: auto;
    padding-left: 50px;
}

}