*{
    box-sizing: border-box;
 }
 body{
    margin: 0px;
    padding: 0px;
 }
#container{
    display: flex; 
    flex-wrap: wrap; 
    flex-grow: 0;        
    flex-shrink: 0;     
}
.top-1-left{
    flex-basis: 50%;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.top-1-right{
    flex-basis: 50%;
    height: 150px;
    overflow: hidden;
}
.logo{
    position: absolute;
    right: 0;
    margin-top: 40px;
    margin-right: 300px;
}
.top-1-right-1{
    display: inline-block;
    font-size: 25px;
    margin-top: 65px;
    text-decoration: none;
    color: black;
}
.top-1-right-2{
    display: inline-block;
    font-size: 25px;
    margin-left: 80px;
    margin-top: 65px;
    text-decoration: none;
    color: black;
}
.top-2{
    flex-basis: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../favicons/spacex-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 800px;
}


